.searchbar-container {

  width: 90%;
  margin: 0.15rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.55rem;

}
.search-bar-form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.search-bar-label {
  width: 100%;
}
.search-bar-input {
  width: 80%;
  border: none;
  padding: 1rem 1.5rem;
}
.search-btn {
  border: 1px solid #000;
  background-color: #262626;
  color: #fff;
  font-size: 1.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

@media (min-width: 880px) {
  .search-bar-input {
    padding: 0.5rem 1.5rem;
  }
  .searchbar-container {
    margin: 0.15rem auto;
  }
}
