<section *ngIf="artist" class='contact-section'>
  <div class='contact-content'>
    <div class='contact-title-container'>
      <h2>UPDATE ARTIST</h2>
    </div>
    <div class='contact-body'>
      <div class='contact-body-left'>

        <form #artistForm=ngForm (ngSubmit)="onSubmit(artistForm.value)" novalidate>
          <label>
            Band name*
            <br/>
            <input #artistNameRef="ngModel" required type='text' name="bandName" [ngModel]="artist.bandName"/>
            <div [hidden]="artistNameRef.valid || artistNameRef.pristine"  class="alert alert-danger">
              Please enter the band name.
            </div>
          </label>

          <label >
            Description*
            <br/>
            <input #artistDesRef="ngModel" maxlength="500" required type='text' name="description" [ngModel]="artist.description"/>
            <div *ngIf="artistDesRef.errors && (artistDesRef.dirty || artistDesRef.touched)"  class="alert alert-danger">
              <div [hidden]="!artistDesRef.errors?.['required']">
                Please enter description
              </div>
              <div [hidden]=" !artistDesRef.errors?.['maxlength']">
                Please enter maximum 200 characters
              </div>
            </div>
          </label>
          <div class="btn-wrapper">
            <button [disabled]="!(artistForm.valid && artistForm.dirty)"  type='submit' class='btn'>
              Submit
            </button>
            <button type='submit' class='btn'>
              <a routerLink="/artists">
                Cancel
              </a>
            </button>
          </div>

        </form>
      </div>
      <div class='contact-body-right'>
        <div class='contact-article'>
          <p class='text-bold'>Artist</p>
          <p class='text-small'>Visit our Artist page to learn more about our artist.</p>
        </div>
        <div class='contact-article'>
          <p class='text-bold'>Concert Halls</p>
          <p class='text-small'>Visit our Concert Hall page to learn more about the available concert halls.</p>
        </div>
      </div>

    </div>

  </div>


</section>

