<section *ngIf="artist" class='contact-section'>
  <div class='contact-content'>
    <div class='contact-title-container'>
      <h2>UPDATE ARTIST</h2>
      <h2>{{artist.bandName}}</h2>
    </div>
    <div class='contact-body'>
      <div class='contact-body-left'>

        <form #artistForm=ngForm (ngSubmit)="onSubmit(artistForm.value)" novalidate>
          <label>
            Band name*
            <br/>
            <input #artistRef="ngModel" required type='text' name="bandName" ngModel/>
            <div [hidden]="artistRef.valid || artistRef.pristine"  class="alert alert-danger">
              Please enter the band name.
            </div>
          </label>

          <label >
            Description*
            <br/>
            <input #artistRef="ngModel" maxlength="200" required type='text' name="description" ngModel/>
            <div *ngIf="artistRef.errors && (artistRef.dirty || artistRef.touched)"  class="alert alert-danger">
              <div [hidden]="!artistRef.errors?.['required']">
                Please enter description
              </div>
              <div [hidden]=" !artistRef.errors?.['maxlength']">
                Please enter at least 200 characters
              </div>
            </div>
          </label>
          <button [disabled]="!artistForm.valid"  type='submit' class='btn'>
            Submit
          </button>

        </form>
      </div>
      <div class='contact-body-right'>
        <div class='contact-article'>
          <p class='text-bold'>Artist</p>
          <p class='text-small'>Visit our Artist page to learn more about our artist.</p>
        </div>
        <div class='contact-article'>
          <p class='text-bold'>Concert Halls</p>
          <p class='text-small'>Visit our Concert Hall page to learn more about the available concert halls.</p>
        </div>
      </div>

    </div>

  </div>


</section>

