<section *ngIf="artist" class='contact-section'>
  <div class='contact-content'>
    <div class='contact-title-container'>
      <h2>CREATE REVIEW FOR ARTIST</h2>
      <h2>{{artist.bandName}}</h2>
    </div>
    <div class='contact-body'>
      <div class='contact-body-left'>

        <form #reviewForm=ngForm (ngSubmit)="onSubmit(reviewForm.value)" novalidate>



          <label>
            Your Name*
            <br/>
            <input #reviewNameRef="ngModel" required type='text' name="bandName" ngModel/>
            <div [hidden]="reviewNameRef.valid || reviewNameRef.pristine"  class="alert alert-danger">
              Please enter your name.
            </div>
          </label>

          <label >
            Your Review*
            <br/>
            <input #reviewCommentRef="ngModel" maxlength="200" required type='text' name="description" ngModel/>
            <div *ngIf="reviewCommentRef.errors && (reviewCommentRef.dirty || reviewCommentRef.touched)"  class="alert alert-danger">
              <div [hidden]="!reviewCommentRef.errors?.['required']">
                Please enter your comment
              </div>
              <div [hidden]=" !reviewCommentRef.errors?.['maxlength']">
                Please enter maximum 200 characters
              </div>
            </div>
          </label>

          <button [disabled]="!reviewForm.form.valid"  type='submit' class='btn'>
            Submit
          </button>

        </form>
      </div>
      <div class='contact-body-right'>
        <div class='contact-article'>
          <p class='text-bold'>Artist</p>
          <p class='text-small'>Visit our Artist page to learn more about our artist.</p>
        </div>
        <div class='contact-article'>
          <p class='text-bold'>Concert Halls</p>
          <p class='text-small'>Visit our Concert Hall page to learn more about the available concert halls.</p>
        </div>
      </div>

    </div>

  </div>


</section>

