<nav class="navbar-container">
  <div class="navbar-content">
    <div class="navbar-header">
      <a class="logo-link">
        <img  class="pony-logo" src="./assets/Images/nightFox_1.PNG" alt="Night fox image"/>
      </a>
      <div class="nav-icon">
        <button class="hamburger-menu">
          <i class="fa-solid fa-bars"></i>
        </button>
        <button class='search-icon'>
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </div>

    </div>
    <ul class="navLinks">
      <li class="link">
        <a routerLink="/concerts">
          Concerts
        </a>
      </li>
      <li class="link">
        <a routerLink="/artists">
          Artist
        </a>
      </li>
      <li class="link">
        <a routerLink="/concerts">
          Concert halls
        </a>
      </li>

    </ul>
    <div class="iconLinks">
      <app-searchbar></app-searchbar>
    </div>

  </div>

</nav>
