<section class='contact-section'>
  <div class='contact-content'>
    <div class='contact-title-container'>
      <h2>CREATE CONCERT</h2>
    </div>
    <div class='contact-body'>
      <div class='contact-body-left'>

        <form #concertForm=ngForm (ngSubmit)="onSubmit(concertForm.value)">

          <label htmlFor="firstName">
            Artist *
            <br/>
            <input #concertFef required type='text' name="artist" ngModel/>
            <b>{{concertFef.className}}</b>
          </label>
          <label for="lastName">
            Concert Halls*
            <br/>
            <input
              type='text'
              id='lastName'
              name="Concert halls"
              ngModel


            />
          </label>


          <label htmlFor="user_email">
            Description*
            <br/>
            <input
              type='text'
              name="Description"
              ngModel

            />
          </label>


          <label htmlFor="organisation">
            Ticket Price
            <br/>
            <input
              type='text'
              name="Ticket Price"
              ngModel

            />
          </label>
          <label htmlFor="subject">
            Date *
            <br/>
            <input
              type='text'
              name='subject'
              ngModel
            />
          </label>


          <input type='submit' value='Submit' class='btn'/>

        </form>
      </div>
      <div class='contact-body-right'>
        <div class='contact-article'>
          <p class='text-bold'>Artist</p>
          <p class='text-small'>Visit our Artist page to learn more about our artist.</p>
        </div>
        <div class='contact-article'>
          <p class='text-bold'>Concert Halls</p>
          <p class='text-small'>Visit our Concert Hall page to learn more about the available concert halls.</p>
        </div>
      </div>

    </div>

  </div>


</section>
