<section class='contact-section'>
  <div class='contact-content'>
    <div class='contact-title-container'>
      <h2>CREATE CONCERT</h2>
    </div>
    <div class='contact-body'>
      <div class='contact-body-left'>

        <form #concertForm=ngForm (ngSubmit)="onSubmit(concertForm.value)">

          <label>
            Artist *
            <br/>
            <input #concertFef="ngModel" required type='text' name="artist" ngModel/>
            <div [hidden]="concertFef.valid || concertFef.pristine"  class="alert alert-danger">
              Please enter artist name
            </div>
          </label>

          <label>
            Concert Halls*
            <br/>
            <input #concertFef="ngModel" required type='text' name="Concert halls" ngModel/>
            <div [hidden]="concertFef.valid || concertFef.pristine"  class="alert alert-danger">
              Please enter Concert hall choice
            </div>
          </label>


          <label >
            Description*
            <br/>
            <input #concertRef="ngModel" minlength="5" required type='text' name="Description" ngModel/>
            <div *ngIf="concertRef.errors && (concertRef.dirty || concertRef.touched)"  class="alert alert-danger">
              <div [hidden]="!concertRef.errors?.['required']">
                Please enter description
              </div>
              <div [hidden]=" !concertRef.errors?.['minlength']">
                Please enter at least 5 characters
              </div>
            </div>
          </label>

          <label >
            Ticket Price
            <br/>
            <input #concertFef="ngModel" required type='text' name="Ticket Price" ngModel/>
            <div [hidden]="concertFef.valid || concertFef.pristine"  class="alert alert-danger">
              Please enter ticket price
            </div>
          </label>
          <label>
            Date *
            <br/>
            <input  #concertFef="ngModel" required type='text' name='subject' ngModel/>
            <div [hidden]="concertFef.valid || concertFef.pristine"  class="alert alert-danger">
              Please enter concert date
            </div>
          </label>
          <input type='submit' value='Submit' class='btn'/>

        </form>
      </div>
      <div class='contact-body-right'>
        <div class='contact-article'>
          <p class='text-bold'>Artist</p>
          <p class='text-small'>Visit our Artist page to learn more about our artist.</p>
        </div>
        <div class='contact-article'>
          <p class='text-bold'>Concert Halls</p>
          <p class='text-small'>Visit our Concert Hall page to learn more about the available concert halls.</p>
        </div>
      </div>

    </div>

  </div>


</section>
