
<div *ngIf="concerthalls" class='concert-container'>
  <div class='container-title-fade-up'>
    <p class='fade-up-text'>HALLS</p>
    <div class="container-title-focus-wrapper">
      <div class="container-title-focus">
        <p class="focus-title-text">03 halls</p>
        <div class="underline"></div>
      </div>
    </div>

  </div>

  <div class="concerts-info-container">
    <div *ngFor="let concerthall of concerthalls" class="concert-card">

      <p class="card-content">{{concerthall.hallName}}</p>
      <p class="card-content">{{concerthall.city}}</p>
      <p class="card-content">{{concerthall.phone}}</p>
      <div class="btn-wrapper">
        <button class="btn-tiny">
          <a routerLink="/concerthall-update/{{concerthall.id}}">
            update
          </a>
        </button>
        <button class="btn-tiny" (click)="deleteConcertHallById(concerthall)">
            delete
        </button>
      </div>
      <button class="btn-smaller">
        <a routerLink="/concerthall-detail/{{concerthall.id}}">
          details
        </a>
      </button>
    </div>
  </div>

    <a class="btn-add" routerLink="/concerthall-new">
      ADD HALL
    </a>

</div>

