<div *ngIf="concerthall" class='concert-new-container'>

    <div class='crud-container-title'>
      <p>UPDATE HALL</p>
    </div>

    <div class='crud-body'>
      <form class="crud-body-form" #concerthallForm=ngForm (ngSubmit)="onSubmit(concerthallForm.value)" novalidate>
        <div class="form-body">
          <div class="form-left">
            <label >
              Hall Name*
              <br/>
              <input #concerthallNameRef="ngModel" required type='text' name="hallName" [ngModel]="concerthall.hallName" class="form-right-input"/>
              <div [hidden]="concerthallNameRef.valid || concerthallNameRef.pristine"  class="alert alert-danger">
                Please enter the concert hall name
              </div>
            </label>
            <label >
              Street*
              <br/>
              <input #concerthallStreetRef="ngModel" required type='text' name="street" [ngModel]="concerthall.street" class="form-right-input"/>
              <div [hidden]="concerthallStreetRef.valid || concerthallStreetRef.pristine"  class="alert alert-danger">
                Please enter the street name
              </div>
            </label>
            <label>
              Number*
              <br/>
              <input  #concerthallNumRef="ngModel" required type='text' name='number' [ngModel]="concerthall.number" class="form-right-input"/>
              <div [hidden]="concerthallNumRef.valid || concerthallNumRef.pristine"  class="alert alert-danger">
                Please enter the house number
              </div>
            </label>
          </div>
          <div class="form-right">
            <label>
              City*
              <br/>
              <input  #concerthallCityRef="ngModel" required type='text' name='city' [ngModel]="concerthall.city" class="form-right-input"/>
              <div [hidden]="concerthallCityRef.valid || concerthallCityRef.pristine"  class="alert alert-danger">
                Please enter the city
              </div>
            </label>
            <label>
              Phone Number*
              <br/>
              <input  #concerthallPhoneRef="ngModel" required type='text' name='phone' [ngModel]="concerthall.phone" class="form-right-input"/>
              <div [hidden]="concerthallPhoneRef.valid || concerthallPhoneRef.pristine"  class="alert alert-danger">
                Please enter the phone number
              </div>
            </label>
            <label>
              Capacity*
              <br/>
              <input  #concerthallCapRef="ngModel" required type='text' name='capacity' [ngModel]="concerthall.capacity" class="form-right-input"/>
              <div [hidden]="concerthallCapRef.valid || concerthallCapRef.pristine"  class="alert alert-danger">
                Please enter the capacity
              </div>
            </label>
            <label>
              Open Air*
              <br/>
              <input  #concerthallOpenRef="ngModel" required type='text' name='openAir' [ngModel]="concerthall.openAir" class="form-right-input"/>
              <div [hidden]="concerthallOpenRef.valid || concerthallOpenRef.pristine"  class="alert alert-danger">
                Please enter the open air option
              </div>
            </label>
          </div>
        </div>



          <div class="btn-wrapper">
            <button [disabled]="!(concerthallForm.valid && concerthallForm.dirty)"  type='submit' class='btn-submit'>
              Submit
            </button>
            <button type='submit' class='btn-cancel'(click)="goBack()">
              Cancel
            </button>
          </div>
        </form>


    </div>



</div>

