<div *ngIf="concert" class='concert-new-container'>

    <div class='crud-container-title'>
      <p>VIEW CONCERT DETAILS</p>
    </div>
    <div class='crud-body'>

        <form class="crud-body-form" >
          <div class="form-body">
            <div class="form-left">
              <label >
                Artist
                <br/>
                <div>{{concert.artist.bandName}}</div>
              </label>
              <label >
                Concert hall
                <br/>
                <div>{{concert.concertHall.hallName}}</div>
              </label>
            </div>
            <div class="form-right">
              <label >
                Description
                <br/>
                <div>{{concert.description}}</div>
              </label>
              <label>
                Date
                <br/>
                <div>{{concert.time}}</div>
              </label>
              <label>
                Price
                <br/>
                <div>{{concert.price}}</div>
              </label>
            </div>
          </div>

          <button (click)="goBack()"   type='submit' class='btn-submit'>
            Go Back
          </button>

        </form>

    </div>




</div>
