.review-container {
  font-family: 'Montserrat', sans-serif;
  max-width: 60%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.review-title {
  margin-bottom: 0.7em;
}
.review-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}
.review-img-container {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 0.5em;
}
.review-img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 50%;
}
.review-name {
  font-size: 1.5rem;
}
.review-job-title {
  text-transform: uppercase;
}

.prev-btn,
.next-btn {
  background: transparent;
  color: var(--clr-yellow);
  border-color: transparent;
  cursor: pointer;
  transition: var(--transition);
  font-size: var(--fs-h3);
}
.prev-btn:hover {
  transform: scale(1.1);
}
.next-btn:hover {
  transform: scale(1.1);
}
.btn-tiny {
  background-color: #000;
  transition: all 0.3s linear;
  border: none;
  color: #FAB23D;
  font-weight: 300;
  font-size: 1rem;
  padding: 0.115rem 0.5rem;

}

.btn-tiny a {
  text-decoration: none;
  color: #FAB23D;
}
