


  <div  *ngIf="reviews[indexArray]" class='review-container '>
    <div className='review-title'>
      <h2>OUR FANS SAID</h2>
    </div>
    <div class="review-body">
      <p class="review-name">{{reviews[indexArray].nameReviewer}}</p>
      <div class="review-btn-container">
        <button class="btn-tiny">
          <a routerLink="/review-update/{{reviews[indexArray].id}}">
            update
          </a>
        </button>
        <button class="btn-tiny">
          <a routerLink="/review-delete/{{reviews[indexArray].id}}">
            delete
          </a>
        </button>
      </div>
      <p class="review-text">{{reviews[indexArray].description}}</p>
      <p>{{reviews[indexArray].like ? 'Will Recommend': 'Never Recommend'}}</p>
      <div class="review-btn-container">
        <button class="prev-btn" (click)="prevPerson(indexArray)">
          prev
        </button>
        <button class="next-btn" (click)="nextPerson(indexArray)">
          next
        </button>
      </div>
    </div>

  </div>




