<div *ngIf="reviews[indexArray]" class='review-container '>
  <div className='review-title'>
    <p class="review-content">Feedback from our valued fans</p>
  </div>
  <div class="review-body">
    <p class="review-text">{{reviews[indexArray].description}}</p>
    <p class="review-text">{{reviews[indexArray].like ? 'Will Recommend!' : 'Never Recommend...'}}</p>
    <p class="review-name">{{reviews[indexArray].nameReviewer}}</p>
    <div class="btn-wrapper">
      <button class="btn-tiny">
        <a routerLink="/review-update/{{reviews[indexArray].id}}">
          update
        </a>
      </button>
      <button class="btn-tiny">
        <a routerLink="/review-delete/{{reviews[indexArray].id}}">
          delete
        </a>
      </button>
    </div>
  </div>

  <div class="review-btn-container">
    <button class="prev-btn" (click)="prevPerson(indexArray)">
      <i class="fa-solid fa-angle-left"></i>
    </button>
    <button class="next-btn" (click)="nextPerson(indexArray)">
      <i class="fa-solid fa-angle-right"></i>
    </button>
  </div>

</div>




