<section *ngIf="artist" class='contact-section'>
  <div class='contact-content'>
    <div class='contact-title-container'>
      <h2>VIEW ARTIST DETAILS</h2>
    </div>
    <div class='contact-body'>
      <div class='contact-body-left'>
        <form >
          <label >
            Band Name
            <br/>
            <div>{{artist.bandName}}</div>
          </label>

          <label >
            Description
            <br/>
            <div>{{artist.description}}</div>
          </label>

          <app-review></app-review>
          <button (click)="goBack()"   type='submit' class='btn'>
            Go Back
          </button>

        </form>
      </div>


    </div>

  </div>


</section>

