<div class='concert-new-container'>

  <div class='crud-container-title'>
    <p>CREATE ARTIST</p>
  </div>
  <div class='crud-body'>
    <form class="crud-body-form" #artistForm=ngForm (ngSubmit)="onSubmit(artistForm.value)" novalidate>

      <div class="form-body">
        <div class="form-left">
          <label>
            Band name*
            <br/>
            <input #artistRef="ngModel" required type='text' name="bandName" ngModel class="form-right-input"/>
            <div [hidden]="artistRef.valid || artistRef.pristine" class="alert alert-danger">
              Please enter the band name.
            </div>
          </label>
        </div>
        <div class="form-right">
          <label>
            Description*
            <br/>
            <input #artistRef="ngModel" maxlength="200" required type='text' name="description" ngModel
                   class="form-right-input"/>
            <div *ngIf="artistRef.errors && (artistRef.dirty || artistRef.touched)" class="alert alert-danger">
              <div [hidden]="!artistRef.errors?.['required']">
                Please enter description
              </div>
              <div [hidden]=" !artistRef.errors?.['maxlength']">
                Please enter maximum 200 characters
              </div>
            </div>
          </label>
        </div>

      </div>

      <button [disabled]="!artistForm.form.valid" type='submit' class='btn-submit'>
        Submit
      </button>

    </form>
  </div>

</div>



