<div *ngIf="concerthall" class='concert-new-container'>

    <div class='crud-container-title'>
      <p>VIEW CONCERT HALL DETAILS</p>
    </div>

    <div class='crud-body'>

        <form class="crud-body-form">
          <div class="form-body">
            <div class="form-left">
              <label >
                Concert Hall Name
                <br/>
                <div>{{concerthall.hallName}}</div>
              </label>
              <label >
                Street
                <br/>
                <div>{{concerthall.street}}</div>
              </label>
              <label >
                House Number
                <br/>
                <div>{{concerthall.number}}</div>
              </label>
            </div>
            <div class="form-right">
              <label >
                City
                <br/>
                <div>{{concerthall.city}}</div>
              </label>
              <label >
                Phone Number
                <br/>
                <div>{{concerthall.phone}}</div>
              </label>
              <label >
                Capacity
                <br/>
                <div>{{concerthall.capacity}}</div>
              </label>
              <label >
                Open Air Option
                <br/>
                <div>{{concerthall.openAir}}</div>
              </label>
            </div>
          </div>

          <button (click)="goBack()"   type='submit' class='btn-submit'>
            Go Back
          </button>

        </form>


    </div>




</div>


